@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  
  body {
    @apply font-sans antialiased bg-white text-dark-900;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
  }
}

@layer utilities {
  .accent-line {
    @apply relative before:absolute before:left-0 before:top-0 before:h-full before:w-1 before:bg-primary-500;
  }
}
